{* This is the welcome page, you can delete it *}
{block content}
		{form sprintForm}
			{label name/}{input name}
			{label type /}{input type}
			{input create}
		{/form}
    <div id="lists" class="lists"></div>
{/block}
