{* This is the welcome page, you can delete it *}
{block content}
	<div class="center">
		{if $productIsSet}
			<div id="lists" class="lists"></div>
		{else}
			Please, choose your product: <br>
			{foreach $products as $product => $description}
				<a href="{plink 'setProduct!', 'product' => $product}">{$product}</a><span class="description">{$description}</span><br>
			{/foreach}
		{/if}
	</div>
{/block}
