
li.issue {
	border: solid 1px black;
}

div.left {
	width: 350px;
	float: left;
}

div.right {
	width: 350px;
	float: right;
}

ul {
	padding: 5px;
	margin: 0px;
}

li {
	list-style-type: none;
}

td {
	border: solid 1px black;
}

div.scrumboard {
	clear: both;
}

.list {
	border: solid 1px #CCC;
	margin: 5px;
}

.list-head {
	background: #000080;
}

.list-foot {
	background: #CCC;
}

.list-head input {
	background: none;
	color: #FFF;
	font-weight: bold;
	border: none;
}

.action-icon {
	margin: 3px;
	cursor: pointer;
}

a.scrum-board {
	float: right;
	margin-right: 5px;
	margin-top: 3px;
}

.lists {
	width: 800px;
}