body{
	font-family: Arial;
	font-size: 14px;
}

div.header{
	background: #000;
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	color: #FFF;
	padding: 3px;
	text-align: center;
}

div.main {
	text-align: center;
	padding: 30px;
}

div.center{
	margin: auto;
	width: 800px;
	text-align: left;
}

li.issue {
	border: solid 1px black;
	min-height: 25px;
	margin-top: 1px;
	cursor: move;
	padding-top: 5px;
	background: #FFF;
}

div.left {
	width: 390px;
	float: left;
}

div.right {
	width: 390px;
	float: right;
}

ul {
	padding: 5px;
	margin: 0px;
}

li {
	list-style-type: none;
}

td {
	border: solid 1px black;
}

div.scrumboard {
	clear: both;
}

.list {
	border: solid 1px #CCC;
	margin: 10px;
}

.list-head {
	background: #000080;
}

.list-foot {
	background: #CCC;
}

.list-head input {
	background: none;
	color: #FFF;
	font-weight: bold;
	border: none;
}

.action-icon {
	margin: 3px;
	cursor: pointer;
}

a.scrum-board {
	float: right;
	margin-right: 5px;
	margin-top: 3px;
}

.lists {
	width: 800px;
}

div.ticket{
	overflow: hidden;
	word-wrap: normal;
	height: 150px;
}

.ticket-outer {
	width: 150px;
	height: 150px;
	border: solid 1px #000;
	margin: 1px;
	float: left;
}

table.scrum-board {
	width: 100%;
	border-collapse: collapse;
	border: solid 1px #000;
}

table.scrum-board th {
	background: #444;
	color: #CCC;
	width: 30%;
	border: 1px solid #000;
}

th h2{
	font-size: 16px;
}

li.ticket-done {
  text-decoration: line-through;
}

input.hours {
	width: 36px;
	float: right;
	margin-right: 3px;
	margin-top: -1px;
	text-align: right;
}

span.points{
	float: right;
	color: #FFF;
	margin-right: 10px;
}

span.epic{
	color: #FF0000;
}

span.ticket{
	padding-left: 5px;
}

li.sub{
	border-color: #CCC;
}

div.open{
	width: 16px;
	float: left;
	font-size: 18px;
	margin-left: 2px;
	margin-right: -8px;
	cursor: pointer;
}

th p{
	font-weight: normal;
}

th.user-story{
	width: 10% !important;
}

.opacity{
	opacity: 0.5;
}

a.title{
	float: left;
	font-weight: bold;
	font-size: 20px;
	margin-left: 5px;
	color: #FFF;
	text-decoration: none;
}

span.description{
	color: #CCC;
	font-size: 12px;
	margin-left: 12px;
}

span.product{
	float: right;
	margin-right: 25px;
	margin-top: 5px;
}